<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="ContainerRelativeFilePath" value="..\..\..\Container\Bin\Debug\Container.exe" />
    <add key="MaxPort" value="10050" />
    <add key="MinPort" value="10010" />
    <add key="NumberOfContainersToStart" value="4" />
    <add key="PackageConfigFileName" value="JobWorker.xml" />
    <add key="PackageRelativeFolderPath" value="..\..\..\packages\_JobWorker\" />
    <add key="PackageTempRelativeFolderPath" value="..\..\..\packages\_JobWorker\Temp\" />
    <add key="PackageAcquisitionIntervalMilliseconds" value="2000" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Compute.RoleEnvironmentService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10100/IRoleEnvironment" />
          </baseAddresses>
        </host>
        <!-- Service endpoints-->
        <endpoint address="" binding="netTcpBinding" contract="Common.IRoleEnvironment" />
      </service>
    </services>
  </system.serviceModel>
</configuration>